.container {
  height: 80px;
  margin-top: 15px;
  padding: 15px 30px;

  background-color: rgb(35 34 34);
  border-radius: 10px;
}

.containerBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftContent {
  width: 200px;
}

.rightContent {
  width: 80px;
}

@media (device-width >= 320px) and (device-width <= 568px) {
  .container {
    height: 67px;
    margin-top: 10px;
    padding: 5px 15px;
  }
}

@media (device-width >= 320px) and (device-width <= 359px) {
  .container {
    padding: 5px 10px;
  }
}
